################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Projeto_TIA_VR/Assets/Ecolocation.cs
/Projeto_TIA_VR/Assets/Ecolocation.cs.meta
